In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('100m_mesh_pop2020_22220/100m_mesh_pop2020_22220裾野市.csv')

In [5]:
df

,Meshcode,Shicode,PopT,Pop0_14,Pop15_64,Pop65over,Pop75over,Pop85over
0,5238577284,22220,156.4531,15.3659,108.9584,32.1288,15.3659,1.3969
1,5238577291,22220,22.4382,3.6191,13.3905,5.4286,3.6191,0.3619
2,5238577292,22220,26.6540,4.1506,16.1409,6.3625,4.1506,0.4130
3,5238577293,22220,17.8283,1.7510,12.4161,3.6612,1.7510,0.1592
4,5238577294,22220,30.0196,2.9484,20.9065,6.1647,2.9484,0.2680
...,...,...,...,...,...,...,...,...
2302,5238764231,22220,0.4674,0.0275,0.2749,0.1650,0.0825,0.0275
2303,5238764232,22220,1.5326,0.0902,0.9015,0.5409,0.2705,0.0902
2304,5238766156,22220,0.1217,0.0072,0.0716,0.0430,0.0215,0.0072
2305,5238766165,22220,1.1890,0.0699,0.6994,0.4197,0.2098,0.0699
2306,5238766166,22220,0.6892,0.0405,0.4054,0.2433,0.1216,0.0405

- メッシュのコード番号は, メッシュの南西隅の「緯度×3/2」（2 桁）＋「経度－100」（2 桁）の 4 桁の数値

In [9]:
import shapefile

Traceback (most recent call last):
  File "/opt/homebrew/opt/sumo/share/sumo/tools/net/net2geojson.py", line 82, in <module>
    if not net.hasGeoProj():
           ^^^^^^^^^^^^^^^^
  File "/opt/homebrew/opt/sumo/share/sumo/tools/sumolib/net/__init__.py", line 464, in hasGeoProj
    projString = self._location["projParameter"]
                 ~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^
KeyError: 'projParameter'